<template>
  <div class="contador">
    <h1 :style="{'color': color}">Contador: {{contador}}</h1>
    <Btn :textoBoton="'+'" @accion="aumentar" />
    <Btn :textoBoton="'-'" @accion="disminuir" />
  </div>
</template>

<script>
import { useContador } from "../hooks/useContador";
import Btn from '@/components/Btn.vue'

export default {
  components: {
    Btn
  },
  setup() {
    return { ...useContador() }
  }
}
</script>

